@import url(https://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
body {
    text-align: center;
    padding: 14px 16px;
    background-color: beige;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif, monospace;
}
#image {
    display: block;
    max-width: 60vw;
    height: auto;
    border-radius: 5px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
#main {
    -moz-box-shadow: inset 2px 5px 13px 2px rgba(42,62,73,1);
    box-shadow: inset 2px 5px 13px 2px rgba(42,62,73,1);
    -webkit-box-shadow: inset 2px 5px 13px 2px rgba(42,62,73,1);
    border: 2px solid #496D7F;
    border-radius: 5px;
    background-color: #537d91;
}
.title {
    font-size: 4rem;
    padding: 14px 16px;
    margin: 0;
}
.subtitle {
    font-size: 1.3rem;
    font-weight: 300;
    padding: 14px 16px;
    margin: 0;
}